<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.smithleedon.device"
      version="0.1.0">
    <name>MyPhoneNumber</name>
    <description>Sample PhoneGap myphonenumber Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,myphonenumber</keywords>


    <js-module src="www/myphonenumber.js" name="myphonenumber">
        <clobbers target="myphonenumber" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MyPhoneNumber">
                <param name="android-package" value="com.smithleedon.device.MyPhoneNumber"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
        </config-file>

        <source-file src="src/android/MyPhoneNumber.java" target-dir="src/com/smithleedon/device" />
     </platform>          
</plugin>
